<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<form th:fragment="list-item-editable (list, item, _csrf)" class="container col-sm-12"
      th:field="*{item}"
      th:action="${'/lists/' + list.id + '/items/' + item.id}"
      th:method="post"
      th:id="${'list-item-' + item.getId()}">
    <div class="col-sm-12">
        <div class="row">
            <textarea th:text="${item.description}"
                      th:hx-post="${'/fragments/lists/' + list.id + '/items/' + item.id}"
                      hx-trigger="keyup delay:500ms changed"
                      name="item"
                      class="form-control col col-sm-11"
                      th:id="${'item-description-' + item.id}"
                      placeholder="Item description"
                      maxlength="4000"
                      rows="8"></textarea>

            <button class="btn btn-link form-control col-sm-1 float-right"
                    th:hx-delete="${'/lists/' + list.id + '/items/' + item.id}"
                    hx-swap="delete"
                    th:hx-target="${'#list-item-' + item.getId()}">Archive</button>
            <br><br>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
</form>
