<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div class="row"><h2>List Details</h2></div>
<div class="row">
    <form class="container col-sm-12" th:object="${list}" th:method="post">
        <div class="col-sm-12">
            <div class="form-group row">
                <input th:field="*{title}" class="form-control col-sm-9" id="title"
                       placeholder="Title"
                       type="text" maxlength="144" autofocus></input>
                <div class="col-sm-1"></div>
                <button class="btn btn-primary col-sm-2" type="submit">Update</button>
            </div>
            <div class="form-group row">
                <textarea th:field="*{description}" class="form-control col-sm-12"
                          id="description" placeholder="Optional description"
                          rows="5" maxlength="400" autofocus></textarea>
                <div class="col-sm-1"></div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </div>
            <div th:if="${#fields.errors('*').size()}">
                <div class="form-group alert alert-warning" th:each="err : ${#fields.errors('*')}">
                    <span th:text="${err}">An error</span>
                </div>
            </div>
        </div>
        <div id="errors" th:if="${errors != null}">
            <div class="form-group alert alert-warning" th:each="err : ${errors}">
                <span th:text="${err.defaultMessage}">An error</span>
            </div>
        </div>
    </form>
</div>