<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
</head>
<ul class="list-group">
    <li th:each="list : ${lists}" class="list-group-item">
        <div class="row">
            <div class="col-sm-9">
                <h4 th:text="${list.title}"></h4>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <a th:href="@{/lists/{id}(id=${list.id})}" class="btn btn-outline-primary float-right" role="button">View</a>
            </div>
        </div>
        <p th:text="${list.description}"></p>
    </li>
</ul>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>