<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>My Lists</title>
</head>
<body>
<div th:replace="~{fragments/header :: header (${useremail})}"></div>
<br>
<div class="container-fluid row">
    <div class="col-sm-1"></div>
    <div class="container-fluid text-left col-sm-10">
        <div class="row">
            <div class="col-sm-12" hx-get="/fragments/lists" hx-trigger="load"></div>
        </div>
        <div class="row"><p></p></div>
        <div class="row">
            <div class="col-sm-12" hx-get="/fragments/lists/new" hx-trigger="load"></div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<div class="container-fluid" id="footer">
    <br><br>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/htmx.org/dist/htmx.min.js"></script>
</body>
</html>
