<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <meta charset="UTF-8">

    <title>My Lists</title>
</head>
<body>

<div th:replace="~{fragments/header :: header (${useremail})}"></div>
<br>

<div class="container-fluid row">
    <div class="col-md-1"></div>
    <div class="container-fluid text-left col-md-10">
        <div class="mb-auto">
            <h2 class="card-title">Active Lists
                <a class="btn btn-primary" style="white-space: nowrap" href="/new">Add List</a>
            </h2>
            <ul class="list-group">
                <li th:each="list : ${lists}" class="list-group-item">
                    <h4 th:text="${list.title}"></h4>
                    <p th:text="${list.description}"></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="container-fluid" id="footer">
    <br><br>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/htmx.org/dist/htmx.min.js"></script>
</body>
</html>
